<%= simple_form_for(media) do |f| %>
  <% if media.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(media.errors.count, "error") %> prohibited this media from being saved:</h2>

      <ul>
      <% media.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :image %>
    <%= f.input :category, collection: @type::CATEGORIES %>
    <%= f.input :price %>
    <%= f.input :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
