Name: <%= @media.name %> <br>
Description: <%= @media.description %> <br>
Image: <%= image_tag @media.image %> <br>
Price: <%= number_to_currency @media.price %> <br>
Author: <%= link_to @media.author.full_name, user_path(@media.author) %> <br>
Category: <%= @media.category %> <br>
<%= @media.human_size %>

<hr>
<p>Purchase? <%= current_user.purchases.exists?(media: @media) ? 'Yes' : 'No' %></p>

<hr>
<% if policy(@media).edit? %>
  <%= link_to 'Edit', [:edit, @media] %>
  <br>
<% end %>
<%= link_to 'Back', @type %>
