<%= simple_form_for(user.becomes(User), url: user_path(user), as: :user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :type, collection: [Academic, Author, Admin], allow_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
