<div>
<%= link_to video.name, video %><br>
Duração: <%= video.human_size %>
<%= image_tag video.image %>
<% if policy(video).favorite? %>
  <%= link_to "Fav", [video, :favorite], method: :post %>
<% end %>
<% if policy(video).purchase? %>
  <%= link_to "Buy", [video, :purchase], method: :post %>
<% end %>
<% if policy(video).destroy? %>
  <%= link_to "Remove", video, method: :delete %>
<% end %>
</div>
