<div>
  <%= book.name %><br>
  <%= book.human_size %>
  <%= image_tag book.image %>
  <% if policy(book).favorite? %>
    <%= link_to "Fav", [book, :favorite], method: :post %>
  <% end %>
  <% if policy(book).purchase? %>
    <%= link_to "Buy", [book, :purchase], method: :post %>
  <% end %>
  <% if policy(book).destroy? %>
    <%= link_to "Remove", book, method: :delete %>
  <% end %>
</div>
