<h1>Credits</h1>

<% if policy(:credit).new? %><%= link_to 'Add credits', new_credit_path %><% end %>

<% @credits.find_each do |credit| %>
  <div style="background: <%= credit.amount < 0 ? 'red' : 'green' %>">
    <%= credit.amount < 0 ? '-' : '+'%><%= number_to_currency credit.amount %>
  </div>
<% end %>
