<%= simple_form_for @credit, url: credits_path do |f| %>
  <%= f.input :amount %>
  <%= f.input :type, collection: ['Credit card', 'Bank slip', 'Deposit'], include_blank: false, as: :radio_buttons %>
  <div id="creditcard-fields">
  </div>
  <%= f.submit %>
<% end %>
