<div>
  <%= music.name %><br>
  Duração: <%= music.human_size %>
  <%= image_tag music.image %>
  <% if policy(music).favorite? %>
    <%= link_to "Fav", [music, :favorite], method: :post %>
  <% end %>
  <% if policy(music).purchase? %>
    <%= link_to "Buy", [music, :purchase], method: :post %>
  <% end %>
  <% if policy(music).destroy? %>
    <%= link_to "Remove", music, method: :delete %>
  <% end %>
</div>
