<div>
  <%= podcast.name %><br>
  Duração: <%= podcast.human_size %>
  <%= image_tag podcast.image %>
  <% if policy(podcast).favorite? %>
    <%= link_to "Fav", [podcast, :favorite], method: :post %>
  <% end %>
  <% if policy(podcast).purchase? %>
    <%= link_to "Buy", [podcast, :purchase], method: :post %>
  <% end %>
  <% if policy(podcast).destroy? %>
    <%= link_to "Remove", podcast, method: :delete %>
  <% end %>
</div>
