<!DOCTYPE html>
<html>
  <head>
    <title>UniTunes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <% %i(books musics podcasts videos).each do |kind| %>
        <% if policy(Media).index? %><li><%= link_to kind, kind %></li> <% end %>
      <% end %>
      <% if policy(Favorite).index? %>
        <li><%= link_to "Favs", favorites_path %></li>
      <% end %>
      <% if policy(User).index? %>
        <li><%= link_to "Users", users_path %></li>
      <% end %>
      <li><%= link_to "Edit account", edit_user_registration_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
    <hr>
    <p><%= notice %></p>
    <%= yield %>
  </body>
</html>
